* {
    padding: 0;
    margin: 0;
}

.container {
    display: inline-block;
    position: relative;
    height: 375px;
    width: 465px;
    background-color: #f2f2f2;
    border: 2px solid green;
    top: 93px;
    left: 314px;
    padding: 10px 20px;
    border-radius: 10px;
}

#text1 {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 70px;
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 2px 5px;
}

#text2 {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 31px;
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 2px 5px;
}

#text3 {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 59px;
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 2px 5px;
}

#text4 {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 20px;
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 2px 5px;
}

#text5 {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 80px;
    height: 30px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 2px 5px;
}


.name {
    display: inline-block;
    position: relative;
    top: 22px;
}

.accountno {
    display: inline-block;
    position: relative;
    top: 22px;
}

.amount {
    display: inline-block;
    position: relative;
    top: 22px;
}

.btn {
    display: inline-block;
    position: relative;
    top: 27px;
    left: 193px;
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid green;
    color: green;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    font-weight: bold;
}

.btn:hover {
    background-color: green;
    color: white;
}

h1 {
    display: inline-block;
    position: relative;
    left: 665px;
    top: -227px;
}

.btn1 {
    display: inline-block;
    position: relative;
    top: 257px;
    left: -141px;
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid green;
    color: green;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    font-weight: bold;
}

.btn1:hover {
    background-color: green;
    color: white;
}

.message{
    display: inline-block;
    position: relative;
    background-color: lightblue;
    opacity: 0.5;
    width: 1499px;
    padding: 8px 10px;
    top: 192px;
    right: 0px;
}
