<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Statement</title>
    <link rel="stylesheet" href="/static/css/bank_statement.css">
</head>

<body>
    <h1>Bank Statement</h1>
    <div class="container">
        <form action="/bank_statement_details" method="POST">
            {% csrf_token %}
            <label for="Name" class="name">Name:</label>
            <input type="text" name="Name" id="text1" class="text"><br><br>
            <label for="AccountNo" class="accountno">AccountNo:</label>
            <input type="text" name="AccountNo" id="text2" class="text"><br><br>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>

</html>