<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankStatement</title>
    <link rel="stylesheet" href="/static/css/bank_statement_details.css">
</head>
<body>
    <h1>BankStatement</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>AccountNo</th>
            <th>Email</th>
            <th>AccountType </th>
            <th>CurrentBalance(Rs)</th>
        </tr>
        {% for item in bank%}
            <tr>
               <td>{{item.Name}}</td>
               <td>{{item.AccountNo}}</td>
               <td>{{item.Email}}</td>
               <td>{{item.AccountType}}</td>
               <td>{{item.CurrentBalance}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/"><button class="btn">Back</button></a>
    <button onclick="window.print()" class="btn">Print</button>
    <a href="data"><button class="btn">View Customers</button></a>
    <p class="date"><b>Date:</b><span id="date"></span></p>
    <p class="time"><b>Time:</b><span id="time"></span><span id="duration"></span></p>

    <script>
        let a;
        let date;
        let time;
        const options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
        a = new Date();
        date = a.toLocaleDateString(undefined,options);
        time = a.getHours() + ":" + a.getMinutes() + ":" + a.getSeconds();
        document.getElementById('date').innerHTML = date;
        document.getElementById('time').innerHTML = time;
        if (a.getHours() >=0 && a.getHours() <=12){
            document.getElementById('duration').innerHTML = " AM";
        }
        else{
            document.getElementById('duration').innerHTML = " PM";
        }
    </script>
</body>
</html>