<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="/static/css/data.css">
</head>

<body>
    <h1>Customer Data</h1>
    <a href="/"><button class="btn">Back</button></a>
    <a href="transfer_money"><button class="btn">Transfer Money</button></a>
    <a href="transfer_history"><button class="btn">Transfer History</button></a>
    <table>
        <tr>
            <th>Name</th>
            <th>AccountNo</th>
            <th>Email</th>
            <th>AccountType </th>
            <th>CurrentBalance(Rs)</th>
        </tr>
        {% for item in customers %}
        <tr>
            <td>{{item.Name}}</td>
            <td>{{item.AccountNo}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.AccountType}}</td>
            <td>{{item.CurrentBalance}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>