<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Bank</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <nav class="navbar background">
        <div class="logo">
            <img src="/static/img/logo.png" alt="" srcset="">
        </div>
        <ul class="nav-list">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <section class="background firstSection" id="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">Welcome to Your Own ABC Bank</p>
                <p class="text-small">The future of banking is here. Where Your device becomes your Bank</p>
                <div class="buttons">
                    <a href="bank_statement"><button class="btn">Bank Statement</button></a>
                    <a href="transfer_money"><button class="btn">Transfer Money</button></a>
                    <br>
                    <a href="transfer_history"><button class="btn">Transfer History</button></a>
                    <a href="data"><button class="btn">View Customer</button></a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section id="about">
        <section class="secRight">
            <div class="paras">
                <p class="sectionTag text-big">Who Are We?</p>
                <p class="sectionsubTag text-small">We are a team of dedicated technical experts working for making your banking experience more smooth effective and haze free.
                    Now your laptop,PC,or your mobile can become your bank.Using this website you can transfer money to other account holders, get your bankstatement print it or
                    save it as proof for future use, get your transfer history etc
                </p>
            </div>
            <div class="thumbnail">
                <img src="/static/img/background.jpg" alt="thumbnail" class="imgFluid"
                    style="height: 250px; width:250px; border-radius: 150px;">
            </div>
        </section>
    </section>
    <br>
    <section id="contact">
        <p class="sectionTag text-big">Contact</p><br>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="name" class="label">Name:</label><br><br>
            <input type="text" name="name" id="" class="text"><br><br>
            <label for="email" class="label">Email:</label><br><br>
            <input type="text" name="email" id="" class="text"><br><br>
            <label for="phoneno" class="label">Phone No:</label><br><br>
            <input type="text" name="phoneno" id="" class="text"><br><br>
            <label for="Report" class="label">Report:</label><br><br>
            <textarea name="Report" class="text" id="" cols="30" rows="40"></textarea><br><br>
            <button type="submit" class="btn btn-label">Submit</button>
        </form>
    </section>
</body>

</html>