<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransferHistory</title>
    <link rel="stylesheet" href="/static/css/transfer_history.css">
</head>

<body>
    <h1>Transfer History</h1>
    <table>
        <tr>
            <th>SenderName</th>
            <th>SenderAccountNo</th>
            <th>RecieverName</th>
            <th>RecieverAccountNo</th>
            <th>Amount(Rs)</th>
            <th>Date</th>
        </tr>
        {% for item in transfer%}
        <tr>
            <td>{{item.SenderName}}</td>
            <td>{{item.SenderAccountNo}}</td>
            <td>{{item.RecieverName}}</td>
            <td>{{item.RecieverAccountNo}}</td>
            <td>{{item.Amount}}</td>
            <td>{{item.Date}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/"><button class="btn">Back</button></a>
    <button onclick="window.print()" class="btn">Print</button>
    <a href="data"><button class="btn">View Customers</button></a>
</body>

</html>