<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransferMoney</title>
    <link rel="stylesheet" href="/static/css/transfer_money.css">
    </head>

<body>
    <h1>Transfer Money</h1>
    <div class="container">
        <form action="/transfer_money" method="POST">
            {% csrf_token %}
            <label for="SName" class="name">Sender Name:</label>
            <input type="text" name="SenderName" id="text1" required><br><br>
            <label for="SAccountNo" class="accountno">Sender Account No:</label>
            <input type="text" name="SenderAccountNo" id="text2" required><br><br>
            <label for="RName" class="name">Reciever Name:</label>
            <input type="text" name="RecieverName" id="text3" required><br><br>
            <label for="RAccountNo" class="accountno">Reciever Account No:</label>
            <input type="text" name="RecieverAccountNo" id="text4" required><br><br>
            <label for="Amount" class="amount">Amount(Rs):</label>
            <input type="text" name="Amount" id="text5" required><br><br>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
    <a href="/"><button class="btn1">Back</button></a>
    <a href="bank_statement"><button class="btn1">Bank Statement</button></a>
    <a href="data"><button class="btn1">View Customers</button></a>
    {% if messages %}
    {% for message in messages %}
    <div class="{{message.tags}} message">
       <strong style="color:white; font-weight: bolder;">{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>